.filter {
  background-color: #fff;

  &-close {
    &-icon {
      cursor: pointer;

      &:hover {
        background-color: lightgray;
      }
    }
  }

  &-container {
    position: fixed;
    padding: 30px;
  }

  &-items {
    margin-top: 60px;
  }

  &-item {
    width: 100%;

    &-field {
      width: inherit;
      border-radius: 0;
    }
  }

  &-btn {
    margin-top: 10px;
    border-radius: 0;
  }
}
